@import url('generals.css');
@import url('styles.css');

.hero-banner__about{
	display: grid;
	grid-template-columns: 1fr;
	@media (width >= 1100px) {
		width: 110rem;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 64rem 1fr;
		grid-template-areas: "left right";
		flex-direction: row-reverse;
		border-radius: 1.5rem;
		overflow: hidden;
	}
}

.hero-banner__about-cover{
	width: 100%;
	overflow: hidden;
	border-radius: 0 1.5rem 1.5rem 0;
	@media (width >= 1100px) {
		width: 100%;
		grid-area: right;
	}
	img{
			width: 100%;
			display: block;
			height: 100%;
			object-fit: cover;
	}
}

.hero-banner__about-info{
	padding: 8rem 4rem;
	text-align: center;
	color: var(--white);
	background-color: var(--peach);
	background-image: url('../assets/about/mobile/bg-pattern-hero-about-mobile.svg');
	background-position: top right;
	@media (width >= 1100px) {
		padding: 13.5rem 9.5rem;
		text-align: left;
		background-image: url('../assets/about/desktop/bg-pattern-hero-about-desktop.svg');
		grid-area: left;
	}
	h1{
		font-size: 3.2rem;
		margin-bottom: 2.4rem;
		font-weight: 500;
		@media (width >= 1100px) {
			font-size: 4.8rem;
		}
	}
	p{
		font-size: 1.5rem;
		@media (width >= 1100px) {
			font-size: 1.6rem;
		}
	}
}

main.main__about{
	margin-bottom: 12rem;
	@media (width >= 1100px) {
		margin: 16rem auto;
	}
}

.section-one, .section-two{
	display: grid;
	grid-template-columns: 1fr;
	@media (width >= 1100px) {
		width: 110rem;
		margin: 0 auto;
		border-radius: 1.5rem;
		overflow: hidden;	
	}
}

.section__info{
	text-align: center;
	padding: 8rem 4rem;
	background-color: #FDF3F0;
	background-image: url('../assets/shared/desktop/bg-pattern-two-circles.svg');
	@media (width >= 1100px) {
		display: flex;
		flex-direction: column;
		padding: 15rem 10rem;
		height: 64rem;
		text-align: left;
	}
	h2{
		font-size: 3.2rem;
		margin-bottom: 2.4rem;
		font-weight: 500;
		color: var(--peach);
	}
	p{
		font-size: 1.5rem;
		color: var(--darkGrey);
		margin-bottom: 2rem;
	}
}

.section__cover{
	width: 100%;
	img{
		width: 100%;
		height: 64rem;
		display: block;
		object-fit: cover;
	}
}

@media (width >= 1100px) {
	.section-one{
		grid-template-columns: 1fr 64rem;
	}
	.section-two{
		grid-template-columns: 64rem 1fr;
	}
}

.locations__container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 12rem auto;
	gap: 4.8rem;
	@media (width >= 1100px) {
		flex-direction: row;
		justify-content: space-between;
	}
}

.location{
	text-align: center;
	.location__icon{
		background: linear-gradient(#FDF3F0, var(--white) );
		border-radius: 50rem;
		margin-bottom: 4.8rem;
	}
	.location__info{
		h3{
			font-size: 2rem;
			font-weight: 400;
			text-transform: uppercase;
			margin-bottom: 3.2rem;
			letter-spacing: .5rem;
			color: var(--darkGrey);
		}
		a{
			display: inline-block;
			border-radius: .8rem;
			font-size: 1.5rem;
			color: var(--white);
			background-color: var(--peach);
			padding: 1.8rem;
			text-transform: uppercase;
		}
	}
}
