@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --peach: #E7816B;
  --black: #1D1C1E;
  --white: #FFFFFF;
  --lightPeach: #FFAD9B;
  --darkGrey: #333136;
  --lightGrey: #F1F3F5;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}

/***** INICIO GENERALES *****/
li{
  list-style: none;
}
a{
  text-decoration: none;
}

.container{
  width: 85%;
  max-width: 110rem;
  margin: 0 auto;
}
/***** FIN GENERALES *****/


/***** INICIO HEADER *****/

header.header{
  display: flex;
  align-items: center;
  height: 9.6rem;
}
nav.navbar{
  width: 100%;
  max-width: 110rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navbar__logo{
    img{
      width: 20rem;
    }
  }
  button.navbar__btn-menu{
    border: none;
    background: none;
  }
  ul.navbar__links{
    display: none;
  }
  @media (width >= 1100px) {
    button.navbar__btn-menu{
      display: none;
    }
    ul.navbar__links{
      display: flex;
      align-items: center;
      gap: 4.2rem;
      font-size: 1.4rem;
      color: var(--darkGrey);
      text-transform: uppercase;
      li{
        a{
          color: var(--darkGrey);
        }
      }
    }
  }
}
/***** FIN HEADER *****/

/***** INICIO HERO BANNER *****/
section.hero-banner{
  background-color: var(--peach);
  height: 84rem;
  text-align: center;
  overflow: hidden;
  .hero-banner__info{
    width: 90%;
    margin: 0 auto;
    padding: 8rem 0;
    color: var(--white);
    text-align: center;
    h1{
      font-size: 3.2rem;
      line-height: 3.6rem;
      font-weight: 500;
      margin-bottom: 1.4rem;
    }
    p{
      font-size: 1.5rem;
      line-height: 2.5rem;
      margin-bottom: 2.4rem;
    }
    a{
      display: inline-block;
      font-size: 1.5rem;
      text-transform: uppercase;
      color: var(--black);
      background-color: var(--white);
      border-radius: .8rem;
      padding: 1.8rem 2.4rem;
    }
  }
  .hero-banner__picture{
    picture{
      width: 100%;
    }
    img{
      display: block;
      width: 29rem;
      margin: 0 auto;
    }
  }
}

@media (width >= 1100px) {
  section.hero-banner{
    width: 110rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 1fr;
    align-items: center;
    height: 64rem;
    border-radius: 1.5rem;
    padding: 0 7.5rem;
    position: relative;
    .hero-banner__info{
      text-align: left;
      h1{
        font-size: 4.8rem;
        line-height: 5.2rem;
        margin-bottom: 1rem;
      }
      p{
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin-bottom: 4rem;
      }
    }
    .hero-banner__picture{
      picture{
        width: 100%;
      }
      img{
        display: block;
        width: 28rem;
        margin: 0 auto;
        bottom: 0;
        right: 9.6rem;
        position: absolute;
      }
    }
  }
}
/***** FIN HERO BANNER *****/

/***** INICIO MAIN *****/
/***** FIN MAIN *****/

/***** INICIO SERVICIOS *****/
.services__container{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin: 12rem auto;
  a.service__card{
    height: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border-radius: 1.5rem;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    h2{
      font-size: 2.8rem;
      font-weight: 400;
    }
    span{
      color: var(--white);
      font-size: 1.5rem;
      color: var(--white);
      letter-spacing: .2rem;
      text-align: center;
    }
    span::after{
      content: url('../assets/shared/desktop/icon-right-arrow.svg');
      margin-left: .8rem;
    }
  }
  #service_01, 
  #service_02,
  #service_03{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: var(--darkGrey);
    transition: all ease-in-out .3s;
  }
  #service_01{
    background-image: url('../assets/home/desktop/image-web-design-small.jpg');
    @media (width >= 1100px) {
      background-image: url('../assets/home/desktop/image-web-design-large.jpg');
    }
  }
  #service_02{
    background-image: url('../assets/home/desktop/image-app-design.jpg');
  }
  #service_03{
    background-image: url('../assets/home/desktop/image-graphic-design.jpg');

  }
  #service_01:hover, 
  #service_02:hover,
  #service_03:hover{
    background-color: var(--lightPeach);
    background-blend-mode: normal;
    background-image: none;
    opacity: 1;
    color: var(--darkGrey);
    span{
      color: var(--darkGrey)
    }
  }
}

@media (width >= 1100px){
  .services__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "one two"
                         "one three";
    #service_01{
      grid-area: one;
      height: auto;
    }
    #service_02{
      grid-area: two;
    } 
    #service_03{
      grid-area: three;
    } 
  }
}
/***** FIN SERVICIOS *****/

/***** INICIO FEATURES *****/
.features_container{
  display: flex;
  flex-direction: column;
  margin-bottom: 12rem;
  gap: 8rem;
  .feature__card{
    color: var(--darkGrey);
    text-align: center;
    img{
      background: linear-gradient(var(--lightPeach), transparent);
      border-radius: 50rem;
      margin-bottom: 4.8rem;
    }
    h3{
      font-size: 2rem;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 3.2rem;
    }
    p{
      font-size: 1.6rem;
    }
  }
}

@media (width >= 1100px){
  .features_container{
    flex-direction: row;
  }
}
/***** FIN FEATURES *****/

/***** INICIO CALL TO ACTION *****/
.cta{
  background-color: var(--peach);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6.4rem 2.4rem;
  z-index: 99999;
  position: relative;
  .cta__info{
    color: var(--white);
    text-align: center;
    h2{
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 3.6rem;
      margin-bottom: 1.6rem;
    }
    p{
      font-size: 1.5rem;
      line-height: 2.5rem;
      margin-bottom: 3.2rem;
    }
  }
  .cta__action{
    a{
      display: inline-block;
      font-size: 1.5rem;
      text-transform: uppercase;
      color: var(--black);
      background-color: var(--white);
      border-radius: .8rem;
      padding: 1.8rem 2.4rem;
    }
  }
}
@media (width >= 1100px){
  .cta{
    width: 100%;
    display: grid;
    grid-template-columns: 46rem max-content;
    justify-content: space-between;
    align-items: center;
    padding: 7.2rem 9.5rem;
    .cta__info{
      text-align: left;
      h2{
        font-size: 4rem;
        width: 27rem;
        margin-bottom: 2rem;
      }
      p{
        font-size: 1.6rem;
        margin-bottom: 0;
      }
    }
  }
}
/***** FIN CALL TO ACTION *****/

/***** INICIO FOOTER *****/
footer.footer{
  background-color: var(--black);
  margin-bottom: 0;
  margin: -18rem auto 0;
  padding-top: 25rem;
  z-index: -1;
}

.footer__container{
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--lightGrey);
}

.footer__one{
  width: 100%;
  text-align: center;
  img{
    width: 20rem;
    margin-bottom: 3.2rem;
  }
  hr{
    color: var(--lightGrey);
  }
  .links{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-top: 3.2rem;
    li{
      a{
        text-transform: uppercase;
        font-size: 1.4rem;
        color: var(--white);
      }
    }
  }
}
.footer__two{
  text-align: center;
  color: var(--lightGrey);
  font-size: 1.6rem;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  .social__links{
    display: flex;
    gap: 1.6rem;
    justify-content: space-between;
  }
}

@media (width >= 1100px){
  footer.footer{
    padding-top: 14rem;
    padding-bottom: 7.2rem;
    margin: -7.2rem auto 0;
  }
  hr{
    display: none;
  }
  .footer__one{
    width: 110rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid var(--darkGrey);
    padding-bottom: 4rem;
    img{
      margin-bottom: 0;
    }
    ul.links{
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-top: 0;
    }
  }
  .footer__two{
    width: 110rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-end;
    text-align: left;
    margin-bottom: 0;
  }
}
/***** FIN FOOTER *****/

